# String Matching Company Names Between Documents

In [12]:
import pandas as pd  
import matplotlib.pyplot as plt 

from fuzzywuzzy import process, fuzz

In [6]:
#import raw data
masterTickers = pd.read_csv("Data/Raw/masterTickers.csv")
checkTheseTickers = pd.read_csv("Data/Raw/checkTheseTickers.csv")

In [8]:
masterTickers.head()

,symbol,symbol_name,exchange,type,region,sector,other_symbol_name,Rating,newId
0,AIA,iShares Asia 50 ETF,IEX,et,US,ETF,ISHARES ASIA 50 ETF,100.0,DA005003
1,AOM,iShares Core Moderate Allocation ETF,IEX,et,US,ETF,NaN,NaN,NaN
2,ABMD,ABIOMED Inc.,IEX,cs,US,Manufacturing,ABIOMED INC,100.0,USAA5L1
3,ABST,Absolute Software Corp,IEX,cs,US,Information,Absolute Software C,100.0,CANJKU1
4,ACA,Arcosa Inc,IEX,cs,US,Construction,Arcosa Inc,100.0,USBEJL1

In [9]:
checkTheseTickers.head()

,Unnamed: 0,newId,symbol_name,Instrument,IssuerID,ISOCountryCode,ISOCurrencyCode,RootID,StartDate,EndDate
0,11,ARGAAC4,ALUAR ALUMINIO ARGENTINO SAIC,STOCK,A05422,ARG,ARS,ARGAAC4,20180315,20751231
1,18,ARGAAH1,CELULOSA ARGENTINA SA,STOCK,A29659,ARG,ARS,ARGAAH1,20180315,20751231
2,20,ARGAAI1,FERRUM SA DE CERAMICA Y METALURGIA,STOCK,A15878,ARG,ARS,ARGAAI1,20180315,20751231
3,22,ARGAAI2,FERRUM SA DE CERAMICA Y METALURGIA,STOCK,A15878,ARG,ARS,ARGAAI2,20180315,20751231
4,23,ARGAAJ1,FIPLASTO,STOCK,A16057,ARG,ARS,ARGAAJ1,19941230,20751231

In [15]:
#apply fuzzy wuzzy string matching 
name = []
similarity = []

for i in masterTickers.symbol_name: 
    ratio = process.extract(i, checkTheseTickers.symbol_name, limit=1) 
    name.append(ratio[0][0])
    similarity.append(ratio[0][1]) 
    
masterTickers['newId'] = pd.Series(name) 
masterTickers['similarity'] = pd.Series(similarity)
masterTickers.head()

,symbol,symbol_name,exchange,type,region,sector,other_symbol_name,Rating,newId,similarity
0,AIA,iShares Asia 50 ETF,IEX,et,US,ETF,ISHARES ASIA 50 ETF,100.0,ISHARES ASIA 50 ETF,100
1,AOM,iShares Core Moderate Allocation ETF,IEX,et,US,ETF,NaN,NaN,CORE LITHIUM LTD,86
2,ABMD,ABIOMED Inc.,IEX,cs,US,Manufacturing,ABIOMED INC,100.0,ABIOMED INC,100
3,ABST,Absolute Software Corp,IEX,cs,US,Information,Absolute Software C,100.0,ABSOLUTE SOFTWARE CORP,100
4,ACA,Arcosa Inc,IEX,cs,US,Construction,Arcosa Inc,100.0,ARCOSA INC,100

In [18]:
#export as csv
masterTickers.to_csv(r'Data/Transformed/masterTickers.csv',index=False)